.map-container {
  height: 100vh;
  width: 100%;
}

#map {
  height: 100%;
}


::ng-deep .custom-restaurant-marker:hover {

  filter: brightness(1.1) drop-shadow(0 0 10px rgba(127, 17, 0, 0.8)); 
  z-index: 1000 !important;
}