<div class="admin-container">

  <div class="header">
    <h2>Antojitos<span>Maps</span></h2>
    <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
  </div>

  <div class="content">

    <h1>{{ 'ADMIN_DASHBOARD.TITLE' | translate }}</h1>
    <p>{{ 'ADMIN_DASHBOARD.SUBTITLE' | translate }}</p>

    <div class="cards">

      <div class="card" (click)="irAgregar()">
        <div class="icon">👤➕</div>
        <p>{{ 'ADMIN_DASHBOARD.CARD_ADD' | translate }}</p>
      </div>

      <div class="card" (click)="irEditar()">
        <div class="icon">🔍</div>
        <p>{{ 'ADMIN_DASHBOARD.CARD_EDIT' | translate }}</p>
      </div>

      <div class="card" (click)="irEliminados()">
        <div class="icon">🗑️</div>
        <p>{{ 'ADMIN_DASHBOARD.CARD_DELETED' | translate }}</p>
      </div>

    </div>

  </div>

</div>