<div class="main-container">
  <header class="header">
    <h1>ANTOJITOS MAPS</h1>
    <p>Selecciona tu perfil para ingresar</p>
  </header>

  <main class="roles-container">
    <div class="role-card" (click)="selectRole('usuario')">
      <div class="icon-wrapper">
        <i class="fas fa-users"></i>
      </div>
      <h2>USUARIO</h2>
    </div>

    <div class="role-card" (click)="selectRole('restaurante')">
      <div class="icon-wrapper">
        <i class="fas fa-utensils"></i>
      </div>
      <h2>RESTAURANTE</h2>
    </div>

    <div class="role-card" (click)="selectRole('administrador')">
      <div class="icon-wrapper">
        <i class="fas fa-laptop-code"></i>
      </div>
      <h2>ADMINISTRADOR</h2>
    </div>
  </main>
</div>