.container {
  padding: 50px;
  min-height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-neutral);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-family: var(--font-heading);
  font-size: 26px;
  letter-spacing: 0.5px;
}

.logo span {
  color: var(--color-accent);
}


.btn-admin {
  background: transparent;
  border: 1.5px solid var(--color-accent);
  color: var(--color-accent);
  padding: 8px 20px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-admin:hover {
  background: var(--color-accent);
  color: var(--color-secondary);
  box-shadow: 0 0 10px rgba(191, 152, 97, 0.4);
  transform: translateY(-2px);
}


.location {
  margin-top: 20px;
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid var(--color-accent);
  border-radius: 20px;
  color: var(--color-accent);
  font-size: 12px;
}


.title {
  margin-top: 30px;
}

.title h1 {
  font-family: var(--font-heading);
  font-size: 44px;
  margin-bottom: 10px;
}


.subtexto {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--color-neutral);
  opacity: 0.75;
  line-height: 1.6;
}


.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: var(--radius-lg);
  border: 1px solid rgba(255,255,255,0.1);
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  border: 1px solid var(--color-accent);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* TITULO CARD */
.card h3 {
  font-family: var(--font-heading);
  margin-bottom: 10px;
}

/* TEXTO CARD */
.card p {
  font-size: 14px;
  color: #d6cfc2;
}

/* LOCK */
.lock {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
}

/* BOTÓN CARD */
.card button {
  margin-top: 12px;
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background: #a11b00;
  transform: scale(1.05);
}



@media (max-width: 768px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }

  .container {
    padding: 20px;
  }

  .title h1 {
    font-size: 28px;
  }

}