<div class="login-wrapper">
  
  <div class="app-header">
    <h1>Antojitos Maps</h1>
    <div class="logo-container"></div>
  </div>

  <div class="login-container">
    <form class="login-form">
      <h2>Acceso a Restaurantes</h2>

      <div class="form-group">
        <label for="username">Usuario o Correo</label>
        <div class="input-with-icon">
          <i class="fas fa-user input-icon"></i>
          <input 
            type="text" 
            id="username" 
            name="username" 
            placeholder="Ingresa tu usuario">
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-with-icon">
          <i class="fas fa-lock input-icon"></i>
          
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            id="password" 
            name="password" 
            placeholder="Ingresa tu contraseña">
            
          <i 
            class="fas toggle-password-icon" 
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" 
            (click)="togglePasswordVisibility()">
          </i>
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
        <button type="button" class="btn btn-secondary">Registrar Restaurante</button>
      </div>

    </form>
  </div>
</div>