<div class="wrapper">

  <div class="header">
    <h1>Antojitos Maps</h1>
  </div>

  <div class="container">
    <h2>Opciones de Pago</h2>

    <div class="plans">

      <div class="plan-card">
        <h3>Plan Mensual</h3>
        <p>Publica promociones</p>
        <p class="price">99 Bs</p>

        <button (click)="seleccionar('mensual')" class="btn">
          Seleccionar
        </button>
      </div>

      <div class="plan-card">
        <h3>Plan Anual</h3>
        <p>Mayor visibilidad</p>
        <p class="price">1000 Bs</p>

        <button (click)="seleccionar('anual')" class="btn">
          Seleccionar
        </button>
      </div>

    </div>
  </div>

</div>